* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

:root {
    --black-color: #222;
    --white-color: white;
    --grey-color: #444;
    --yellow: #FFBF00;

    /* FONTS */
    --black-ops-font: "Black Ops One", system-ui;
    --roboto-font: "Roboto", sans-serif;

    /* PADDING */
    --p1: 1rem;
    --p2: 2rem;
    --p3: 3rem;



}

body {
    font-size: 1rem;
    font-family: var(--roboto-font);
    line-height: 1.6;
    background-color: var(--black-color);
    color: var(--white-color);
}

img {
    max-width: 100%;
    display: block;
}




/* HERO */

.hero-container {
    padding: var(--p3) var(--p1);
    border-top: 1px solid var(--grey-color);
    border-bottom: 1px solid var(--grey-color);
}

.hero-name {
    /* background-color: blue; */
    text-align: center;
    
}

.hero-title {
    font-size: var(--p2);
}

.hero-title > span {
    color: var(--yellow);
}

.hero-subtitle {
    font-style: italic;
}

/* PROJECT */

.project-container {
    padding: var(--p3) var(--p1);

    display: flex;
    flex-direction: column;
    gap: var(--p3);
}

.project-card {
    display: flex;
    flex-wrap: wrap;
    gap: var(--p1);
}