* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

:root {
    --black-color: #222;
    --white-color: white;
    --grey-color: #444;
    --yellow: #FFBF00;
    --light-gray: #555;

    /* FONTS */
    --black-ops-font: "Black Ops One", system-ui;
    --roboto-font: "Roboto", sans-serif;

    /* PADDING */
    --p1: 1rem;
    --p2: 2rem;
    --p3: 3rem;



}

html {
    font-size: 16px;
}

body {
    font-size: 1rem;
    font-family: var(--roboto-font);
    line-height: 1.6;
    background-color: var(--black-color);
    color: var(--white-color);
}

img {
    max-width: 100%;
    display: block;
}

label,
input,
textarea {
    width: 100%;
}

input,
textarea {
    font-family: var(--roboto-font);
    padding: 5px;
    font-size: 1rem;
    border-radius: 2px;
    border: 1px solid var(--grey-color);
    background-color: #333;
    color: var(--white-color);
    letter-spacing: 1px;
}

input::placeholder,
textarea::placeholder {
    color: #999;
}

button {
    font-size: 0.875rem;
    border-radius: 5px;
    border: 2px solid var(--grey-color);
    text-transform: uppercase;
    cursor: pointer;
}

.hero-container,
.project-container,
.tech-container,
.contact-container {
    max-width: 1200px;
    margin: 0 auto;
}

/* HERO */

.hero-container {
    padding: var(--p3) var(--p1);
    border-top: 1px solid var(--grey-color);
    border-bottom: 1px solid var(--grey-color);
}

.hero-name {
    /* background-color: blue; */
    text-align: center;

}

.hero-title {
    font-size: var(--p2);
}

.hero-title>span {
    color: var(--yellow);
}

.hero-subtitle {
    font-style: italic;
}

/* PROJECT */

.project-container {
    padding: var(--p3) var(--p1);
    border-bottom: 1px solid var(--grey-color);

    display: grid;
    grid-template-columns: 1fr;
    /* place-content: center; */
    gap: var(--p3);
}

.project-card {
    display: flex;
    flex-wrap: wrap;
    gap: var(--p1);
}

.project-picture {
    max-width: 300px;
    margin: 0 auto;
}

/* TECH */

.tech-container {
    /* background-color: blue; */
    padding: var(--p2) var(--p1);
    border-bottom: 1px solid var(--grey-color);

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    /* align-items: stretch; */

    gap: 1rem;
}

.tech-card {
    flex: 1;
    flex-basis: 150px;
    display: flex;
    align-items: center;
    gap: 10px;
    max-width: 300px;
    /* margin: var(--p2) auto; */

    background-color: var(--grey-color);
    padding: var(--p1);
    border-radius: 5px;
}

.tech-image {
    width: 40px;
}

/* CONTACT */

.contact-container {
    padding: var(--p1);
}

.contact-card {
    display: flex;
    flex-direction: column;
    gap: var(--p2);
}

.contact-form {

    display: flex;
    flex-direction: column;
    gap: var(--p1);
}

.contact-form button {
    background-color: var(--black-color);
    color: var(--white-color);
    padding: 0.5rem 1rem;
}

.contact-form button:hover {
    background-color: var(--grey-color);
}



@media (min-width: 550px) {

    html {
        font-size: 1.125rem;
    }

    .project-container {
        grid-template-columns: 1fr 1fr;
    }
}