* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* html {

} */

body {
    font-family: Roboto, sans-serif;
    font-size: 1rem;
    line-height: 1.4;
    background-color: var(--primary-black);
    color: var(--primary-white);
}

:root {
    --primary-black: #111;
    --secundary-black: #222;
    --third-black: #333;
    --primary-white: white;
    --third-bg-color: #b3b3b3;

    --black-ops-one-font: "Black Ops One", system-ui;

    --jet-black: #2A3439;
    --carbon-black: #1B1B1B;
    --charcoal: #555555;
    --azure-blue: #007FFF;

    --flame-orange: #FF4F00;

    --small-ft: 0.75rem;
    --medium-ft: 1rem;
    --large-ft: 1.125rem;
    --xlarge-ft: 1.25rem;
    --xxlarge-ft: 1.5rem;

    --sm-pad: 0.25rem;
    --md-pad: 0.5rem;
    --lg-pad: 0.75rem
}

img {
    max-width: 100%;
    display: block;
}

ul {
    list-style-type: none;
}

/* a {
    font-size: inherit;
} */

header {
    background-color: var(--primary-black);
    border-bottom: 1px solid var(--third-black);
    color: var(--primary-white);
    font-size: var(--medium-ft);
    overflow: hidden;
    padding: 20px;
}

#mobile-navbar {
    font-size: var(--xlarge-ft);
    background-color: var(--secundary-black);
    position: fixed;
    left: 100%;
    top: 0;
    bottom: 0;
    width: 100%;
}

.close-menu {
    display: flex;
    justify-content: flex-end;
    padding: 10px;
}

.close-menu-icon,
.open-menu-icon {
    width: 40px;
    cursor: pointer;
}

#mobile-navbar a {
    color: inherit;
    text-decoration: none;
    width: 100%;
    display: block;
    padding: 10px 10px 10px 30px;
}

#desktop-navbar {
    color: var(--secundary-bg-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#desktop-navbar span {
    /* font-size: var(--xlarge-ft); */
    font-size: clamp(1rem, 3vw, 2rem);
    font-family: var(--black-ops-one-font);
    letter-spacing: 5px;
}

#desktop-navbar ul {
    display: none;
}


.hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* padding: 5rem 2rem; */
    padding: clamp(3rem, 10vw, 6rem);
}

.name {
    text-align: center;
    /* font-size: clamp(1.5rem, 5vw, 2.5rem); */
}

.name-information h2 {
    font-size: clamp(1.5rem, 5vw, 2.5rem);
    /* font-size: 2rem; */
}

.name-information h2 > span {
    color: var(--flame-orange);
}



.name-information>p {
    font-size: 1rem;
    /* font-size: clamp(1rem, 2vw, 2rem); */
    /* font-size: min(1rem, 5vw); */
}

.social-media {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 10px;
    cursor: pointer;
}

.social-media img {
    width: 30px;
    display: block;
}

/* ABOUT ME */

.about-container {
    background-color: #222;
    color: white;
    padding: 5rem 1rem;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.about-picture {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    padding: var(--sm-pad);
    background-color: white;
    margin-bottom: 2rem;
}

.about-image {
    border-radius: 50%;
    height: 100%;
    object-fit: cover;
}

.about-information {
    max-width: 600px;
}

.about-title {
    margin-bottom: 0.5rem;
}

.about-description span {
    color: skyblue;
}


.projects {
    border-top: 1px solid var(--third-black);
    border-bottom: 1px solid var(--third-black);
}

.projects-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* gap: 5rem; */
    gap: clamp(1rem, 5vw, 5rem);
    padding: clamp(1rem, 10vw, 5rem);
}

.project {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* flex-direction: row; */
    /* flex-wrap: wrap; */
    /* justify-content: center; */


    background-color: var(--secundary-black);
    border-radius: 0.5rem;
    padding: clamp(1rem, 4vw, 3rem);
}

/* .project-information {
    padding: 1rem;
} */

.project-title {
    font-size: clamp(1rem, 3vw, 1.5rem);
}

.project .project-description {
    margin: 10px 0;
}

.project-picture {
    /* background-color: red; */
    /* padding: 1rem; */
    max-width: 70%;
}

.technology {
    padding: 5rem 1rem;
    color: white;
}

.technology-container {
    display: flex;
    /* flex-direction: column; */
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
}


.technology-card {
    background-color: var(--secundary-black);
    display: flex;
    align-items: center;
    gap: 10px;
    flex-basis: 350px;

    padding: 0.75rem;
    /* 12px */
    border-radius: 5px;
}

.technology-image {
    width: 30px;
    display: block;
    background-color: var(--third-black);
    padding: 5px;
    border-radius: 2.5px;
}

#footer {
    border-top: 1px solid var(--third-black);
}

.footer-container {
    padding: 1rem;
}

.footer-name {
    margin-bottom: 2rem;
}

.footer-name-title {
    font-size: 1.5rem;
}

.footer-name-description {
    font-size: 0.75rem;
}

.footer-social {
    display: flex;
    gap: 5px;
}


.footer-social-image {
    max-width: 20px;
}





@media (min-width: 760px) {
    .project {
        flex-direction: row;

        max-width: 800px;
    }
}